<nav id="bottomshadow" class="navbar navbar-expand-lg navbar-light" style="background-color:#1a8cff">
  <div class="col-sm-8">
    <a class="navbar-brand width">
      <i class="fa fa-bars" style="color:white" aria-hidden="true"></i>
      <img src="http://www.ril.com/App_Themes/RIL/images/our-company/founder-chairman/infographic.png" width="70px">
      <span style="color:white;">DIRECT TAX</span>
    </a>
  </div>
  <div class="form-inline col-sm-4">
    <input class="form-control" style="height:30px;border-radius:15px" type="search" placeholder="PLATFORM"
      aria-label="Search">&nbsp;
    <span class="border mt-1">
      <i class="fa fa-search" style="color:white" aria-hidden="true"></i>
    </span>&nbsp;&nbsp;
    <span style="color:white;font-weight: 600" class="name">Som Sekhar</span>&nbsp;&nbsp;
    <img id="mypic" src="assets/somsekhar.jpg" width="35px">
  </div>
</nav>