.sidenav {
    height: 100%;
    width: 235px;
    background-color:white;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    color: black;
    display: block; 
    font-weight: 500;
  }
  
  .sidenav a:hover {
    color:white;
    background-color: #1a8cff;
  }
  #bottomshadow {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
  }
  input{
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: black;
  }
  @media screen and (max-width: 1200px) {
    div.sidenav {
      display: none;
      
    }
  }